<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="connStringBdPrincipal" connectionString="Data Source=MARIANO-PC;Initial Catalog=transportes_mj_dev;Integrated Security=True"/>
    <add name="connStringBdBitacora" connectionString="Data Source=MARIANO-PC;Initial Catalog=transportes_mj_bitacora_dev;Integrated Security=True"/>
  </connectionStrings>
</configuration>