<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <add key="nombreBdPrincipal" value="transportes_mj"/>
    <add key="ubicacionLog" value="C:/TransportesMJ/"/>
    <add key="terminalIdNuevoVehiculo" value="1"/>
    <add key="frecuenciaDefault" value="12"/>
    <add key="duracionDefault" value="60"/>
    <add key="descansoChoferes" value="15"/>
  </appSettings>
  <connectionStrings>
    <add name="Principal" connectionString="Data Source=DESKTOP-FE0C8EN;Initial Catalog=transportes_mj;Integrated Security=True"/>
    <add name="Bitacora" connectionString="Data Source=DESKTOP-FE0C8EN;Initial Catalog=transportes_mj_bitacora;Integrated Security=True"/>
    <add name="Master" connectionString="Data Source=DESKTOP-FE0C8EN;Initial Catalog=master;Integrated Security=True"/>
  </connectionStrings>
</configuration>
